.box{
    width: 100%;
    max-width: 1024px;
    padding: 20%;
}

.box::after{
    content: '';
    display: block;
    padding: 20%;
}

body{
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}

figure{
    margin: 0px;
}

figure img {
    width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0px;
}

header{
    color: azure;
    background-color: blueviolet;
}

a {
    color: black;
}

a:hover {
    color: hotpink;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding-left: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    }
    
    @media (max-width: 767px) {
    .container {
    flex-direction: column;
    }
}

