/*Erik template code*/
/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
    background-color: #ffe6cc;
    font-family: 'Roboto', sans-serif;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 2em;
}

/*flexbox*/
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

/*footer*/
footer{
    background-color: lightgray;
    height: 50px;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: 0em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: fixed; /* add this */
    bottom: 0;
}
footer a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
footer a:hover{
text-decoration-line:underline;
}

#banner{
 margin-left: 0px;
 margin-right: 0px;
}

.verse{
    padding-left: .5em;
}

footer{
    font-size: .75em;
}

img{
    width: 100%;
    height: auto;
}

#rabbit{
    height: auto;
    width: 3vw;
}

figcaption{
    font-size: .25em;
}

main{
    float: left;
    width: 70%;
    margin-bottom: 100px;
}

/*first CSS Interaction*/
.mouse-follower{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

/*2nd CSS Interaction*/
#house{
    height: 100%;
    width: 10vw;
    float: right;
    position: relative;
}

#house img:hover {
    transform: rotate(-50deg) translate(0, -50px);
    transition: transform 0.5s ease-in-out;
  }

/*3rd CSS Interaction*/
.verse.moving-text {
    position: relative;
    animation-name: move-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 5s;
  }
  
  @keyframes move-text {
    0% {
      left: 0;
    }
    100% {
      left: 50px;
    }
  }

.newp1:hover{
    background-color: pink;
    color: black;
}

.newp2:hover{
    background-color: lavender;
    color: black;
}